<h1><%= @trip.name %></h1>

<p>Start: <%= @trip.start_date %></p>
<p>End: <%= @trip.end_date %></p>

<h2>Trails:</h2>
<% @trip.trails.each do |trail| %>
  <%= trail.length %>
  <%= link_to trail.name, trail_path(trail) %>
  <%= trail.address %>
<% end %>

<h2>Total Length: <%= @trip_total %></h2>
<h2>Average Length: <%= @trip_average %></h2>
<h2>Longest Length: <%= @trip_longest %></h2>
<h2>Shortest Length: <%= @trip_shortest %></h2>